/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-07-2015, 11:23:52
    Author     : amer
*/
.ask-vopros-tab
{
    right: 0px !important;
    background-color: #69c8cf !important;
}
.ask-vopros-tab i
{
    background-color: #69c8cf !important;
    border-left: 1px solid white;
}
.ask-vopros-minimize
{
    background-color: #69c8cf !important;
    border-left: 1px solid grey;
}

